.titlepage h1, .titlepage h2, .titlepage div, .titlepage p {
	text-align: center;
	text-indent: 0;
}

.titlepage h2 {
	margin-bottom: 0.25em;
}

.titlepage p.subtitle {
	font-weight: bold;
	margin-top: 0.25em;
}

.fullscreen {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	page-break-before: always;
	text-align: center;
	display: inline;
}

.fullscreen img {
	height: auto;
	width: 100%;
}
